<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- Google font Rubik 400, 700, 900 --}}
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700,900&display=swap" rel="stylesheet">
    {{!-- Hoja de estilos personalizada  --}}
    <link rel="stylesheet" href="/css/app.css">
    {{!-- Hoja de estilos para trix (WYSIWYG) --}}
    <link rel="stylesheet" href="/css/trix.css">
    <title>{{nombrePagina}}</title>
</head>

<body>
    <div class="nombre-sitio contenedor">
        <h1><a href="/">DevFinder</a></h1>

        {{#if barra}}
        <div class="buscador">
            <form action="#">
                <input type="text" class="buscar">
                <input type="submit" value="Buscar">
            </form>
        </div>
        {{/if}}
    </div>

    <header class="site-header contenedor separador">
        <h2>{{nombrePagina}}</h2>

        {{#if tagline}}
        <p class="tagline">{{tagline}}</p>
        {{/if}}

        {{#if boton}}
        <a href="/vacante/nueva" class="btn btn-azul">Publicar nueva vacante</a>
        {{/if}}
    </header>

    <div class="contenido-principal contenedor">
        {{#if messages}}
        <div class="alertas">
            {{#mostrarAlertas messages}}
            {{/mostrarAlertas}}
        </div>
        {{/if}}
        {{{body}}}
    </div>

    {{!-- Script para trix (WYSIWGY) --}}
    <script src="/js/trix.js"></script>
    {{!-- Webpack bundle --}}
    <script src="/dist/bundle.js"></script>
</body>

</html>