<main class="contenedor">
    <form action="/crearCuenta" method="post" class="default-form">
        <div class="campo">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" placeholder="John Connor">
        </div>
        <div class="campo">
            <label for="email">Correo electrónico</label>
            <input type="email" name="email" placeholder="jconnor@resistance.free">
        </div>
        <div class="campo">
            <label for="password">Contraseña</label>
            <input type="password" name="password" placeholder="Ingresa una contraseña segura">
        </div>
        <div class="campo">
            <label for="confirmpassword">Repetir la contraseña</label>
            <input type="password" name="confirmpassword" placeholder="Vuelve a introducir tu contraseña">
        </div>
        <div class="campo">
            <input type="submit" value="Crear cuenta" class="btn btn-azul">
        </div>
    </form>
</main>