<main class="contenedor">
    <form action="/iniciarSesion" method="post" class="default-form">
        <div class="campo">
            <label for="email">Correo electrónico</label>
            <input type="email" name="email" placeholder="Ingresa tu dirección de correo electrónico">
        </div>
        <div class="campo">
            <label for="password">Contraseña</label>
            <input type="password" name="password" placeholder="Ingresa tu contraseña">
        </div>
        <div class="campo acciones">
            <a href="/crearCuenta">Crea una cuenta en DevFinder</a>
            <a href="/reestablecerPassword">Olvidé mi contraseña</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar sesión" class="btn btn-azul">
        </div>
    </form>
</main>