<main class="contenedor">
    <form action="/reestablecerPassword" method="post" class="default-form">
        <div class="campo">
            <label for="email">Correo electr칩nico</label>
            <input type="email" name="email" placeholder="Ingresa tu correo electr칩nico" required>
        </div>
        <div class="campo acciones">
            <a href="/iniciarSesion">Volver a iniciar sesi칩n</a>
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer contrase침a" class="btn btn-azul">
        </div>
    </form>
</main>