<h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif">Reestablecer tu contraseña</h1>

<p style="font-family: Arial, Helvetica, sans-serif;">Hola, has solicitado reestablecer tu contraseña, has click en el
    siguiente enlace,
    este enlace es temporal, si se vence es necesario que vuelvas a solicitar el reestablecimiento de tu contraseña.
</p>

<a href="{{resetUrl}}" style="
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    background-color: #00C897;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;">Reestablecer tu contraseña</a>

<p style="font-family: Arial, Helvetica, sans-serif;">Si no puedes acceder a este enlace, visita: {{resetUrl}}</p>
<p style="font-family: Arial, Helvetica, sans-serif;">Si no solicitaste este correo electrónico, puedes ignorarlo.</p>